<%= turbo_frame_tag "raffle_item_#{raffle_item.id}" do %>
  <div class="card box" style="padding:0">
    <div class="frame">
      <% if raffle_item.photo.key  %>
        <img style="border-end-start-radius:0;border-end-end-radius:0;" src= <%= cl_image_path raffle_item.photo.key %>>
      <% else %>
        <%= image_tag "banner", style: "border-end-start-radius:0;border-end-end-radius:0;" %>
      <% end  %>
    </div>
    <% if raffle_item.name.present? %>
      <h4 style="margin-block-start:.5rem;margin-inline-start:.5rem;margin-block-end:0"><%= Faker::Tea.variety %></h4>
    <% else  %>
      <h4 style="margin-block-start:.5rem;margin-inline-start:.5rem;margin-block-end:0"><%= Faker::Tea.variety %></h4>
    <% end %>
    <p style="margin-inline-start:.5rem;margin-block-end:.5rem;margin-block-start:0;">Physical Item</p>
    </div>
    <div style="display:flex;justify-content:center;gap:1rem;margin-block-start:1rem">
      <%= button_to "Delete",
                    raffle_raffle_item_path(@raffle, raffle_item),
                    method: :delete,
                    class: "box", style: "min-width:5rem" %>
      <%= button_to "Edit",
                  edit_raffle_raffle_item_path(@raffle, raffle_item),
                  method: :get,
                  class: "box", style: "min-width:5rem" %>
    </div>
<% end %>
