<%= turbo_frame_tag @raffle_item do %>
  <div class="box center" style="margin-block-start:1rem;border-radius:9px">
    <%= simple_form_for [@raffle, @raffle_item] do |f| %>
      <%= f.error_notification %>
      <%= f.input :photo, as: :file, label: 'Item Photo:', required: false %>
      <%= f.input :name, label: 'Name:', required: false %>
      <%= f.input :description, label: 'Description:', required: false, as: :text %>
      <%= f.hidden_field :tkn_address, as: :hidden, required: true %>
      <%= f.submit %>
    <% end %>
  </div>
<% end  %>
