<div class="card" id="creator_card">
  <%= link_to creator_path(creator) do %>
    <div class="frame">
      <% if creator.photo.key.present?  %>
        <img style="border: 1px white solid" src= <%= cl_image_path creator.photo.key %>>
      <% else %>
        <%= cl_image_tag "ydsky45v1bxte8hmsx53kyahwrwb.jpg", style: "border: 1px white solid" %>
      <% end  %>
    </div>
  <% end %>

  <% if creator.name.present? %>
    <h5 style="font-weight:bold;margin-block-end:.25rem;margin-block-start:.25rem"><%= creator.name %></h5>
  <% else  %>
    <h5 style="font-weight:bold;margin-block-end:.25rem;margin-block-start:.25rem"><%= Faker::Twitter.screen_name %></h5>
  <% end %>
  <p style="margin:0">24hr Volume: $<%= rand(5000) %></p>
  <p style="margin:0">Total Volume: $<%= rand(5000...25000) %></p>
  <p style="margin:0;font-size:small;font-weight:bold">#<%= Faker::Science.science(:natural, :applied).gsub(/\s+/, "") %> #<%= Faker::Educator.subject.gsub(/\s+/, "") %></p>
</div>
