<menu>
    <label for="trigger">
    <input id="trigger" type="checkbox" />
    <section class="drawer-list">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sign Up', new_creator_path %></li>
        <li><%= link_to 'Creators', creators_path %></li>
        <li><%= link_to 'Raffles', raffles_path %></li>
        <li><%= link_to 'Wallet', '#' %></li>
      </ul>
    </section>
    <hamburger> <i></i>
    </hamburger>
  </label>
</menu>
