<div class="card">
 <%= link_to raffle_path(raffle) do %>
  <div class="box frame">
    <% if raffle.photo.key.present?  %>
      <img src= <%= cl_image_path raffle.photo.key %>>
    <% else %>
      <%= image_tag "banner" %>
    <% end %>
  </div>
  <% end  %>
  <% if raffle.title.present? %>
    <h4><%= raffle.title %></h4>
  <% else  %>
    <h4><%=Faker::Hipster.sentence(word_count: 3) %></h4>
  <% end %>
  <p>Raffle Items: <%= rand(50) %></p>
  <p>Tickets Redeemed: <%= rand(4000) %></p>
</div>
