<div class="box banner bg-img" id="first">
  <div class="with-sidebar" id="landing">
    <div id="title">
      <h1 id="pale">PaleBlue.is: </h1>
      <h1 id="place">the place to <h1 class="typed"></h1></h1>
      <div class="cluster mobile-center">
        <button class="box hidden-large">Connect Wallet</button>
        <%= button_to "Explore Collections",
                    raffles_path,
                    method: :get,
                    class: "box" %>
        <%= button_to "Become a Creator",
                    new_creator_path,
                    method: :get,
                    class: "box" %>
      </div>
    </div>
    <div class="box" id="spacer"></div>
  </div>
</div>
<div class="box banner" id="second">
  <div class="stack">
  <h2 class="center">Web3 and Philanthropy</h2>
    <div class="switcher">
      <div class="box stack center" data-aos="zoom-in" data-aos-delay="50"
    data-aos-duration="1000">
        <h3 class="center">The Big Idea</h3>
        <p class="center">Charitable giving is a vital part of our society, but the process for giving is broken.
        Donors are often uncertain about where their money is going and whether it is being used effectively.
        Additionally, many charities lack the transparency and accountability that donors demand.</p>
      </div>
      <div class="box stack center" data-aos="zoom-in" data-aos-delay="200"
    data-aos-duration="1000">
        <h3 class="center">Trace Individual Donations</h3>
        <p class="center">Pale Blue leverages social sharing and applies technology
        to enable transparency, efficiency, and accountability. Our platform makes it easy for donors to see where
        their money is going and how it is being used.</p>
      </div>
      <div class="box stack center" data-aos="zoom-in" data-aos-delay="350"
    data-aos-duration="1000">
        <h3 class="center">Build Trust</h3>
        <p class="center">Additionally, the community holds charities
        accountable for their use of funds and ensures that donors can trust that their money is making a difference.
        If you are looking for a better way to give, then look no further than Pale Blue. We are making charitable
        giving easier and more effective than ever before.</p>
      </div>
    </div>
    <div class="center"><%= button_to "Learn More",
                    about_path,
                    method: :get,
                    class: "box animate-character" %></div>
  </div>
</div>

<div class="box banner">
 <h2 class="center">Creators</h2>
  <div class="banner-cards">
    <h3>Trending 24hr</h3>
    <div class="reel">
        <% @creators.each do |creator| %>
            <%= render "shared/24hr_creator_card_home", creator: creator %>
        <% end %>
    </div>
  </div>
  <div class="banner-cards">
    <h3>Top Overall</h3>
    <div class="reel">
      <% @creators.each do |creator| %>
            <%= render "shared/top_creator_card_home", creator: creator %>
        <% end %>
    </div>
  </div>
  <div class="browse">
    <%= button_to "Browse Creators",
                    creators_path,
                    method: :get,
                    class: "box" %>
  </div>
</div>

<div class="box banner">
  <h2 class="center">Raffles</h2>
  <div class="banner-cards">
    <h3>Trending 24hr</h3>
    <div class="reel">
      <% @raffles.each do |raffle| %>
        <%= render 'shared/raffle_card_home', raffle: raffle %>
      <% end %>
    </div>
  </div>

  <div class="banner-cards">
    <h3>Top Raffle Items</h3>
    <div class="reel">
      <% @raffle_items.each do |raffle_item| %>
        <%= render 'shared/raffle_item_card_home', raffle_item: raffle_item %>
      <% end %>
    </div>
    <div class="browse">
    <%= button_to "Browse Raffles",
                    raffles_path,
                    method: :get,
                    class: "box" %>
    </div>
  </div>
</div>
